---

import "../style/style.css";
import header_card from "../components/header_card.astro"
import banner from "../components/banner.astro";
import productCard from "../components/productCard.astro";
import Tips from "../components/Tips.astro";
import Footer from "../components/Footer.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Anna Elisabeth</h1>
		<p>Font test</p>
		<Tips/>
		<Footer/>

	</body>
</html>
