---
import "../style/style.css";
import footer from "../components/footer.astro";
import banner from "../components/banner.astro";
import header from "../components/header.astro";
import productCard from "../components/productCard.astro";
import tips from "../components/tips.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://use.typekit.net/heg3tgx.css">

<!-- google font skal convertes til woff2 -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Yaldevi:wght@200..700&display=swap" rel="stylesheet">

		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
<<<<<<< HEAD
		<h1>Anna Elisabeth</h1>
		<p>Font test</p>
=======
		<h1>Hello</h1>
>>>>>>> 8363ed75619f8f6cd6c1cfd2eee6ce62ed407377
	</body>
</html>
