---
import "../style/style.css";
import Header_card from "../components/Header_card.astro"
import footer from "../components/footer.astro";
import banner from "../components/banner.astro";
import productCard from "../components/productCard.astro";
import tips from "../components/tips.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://use.typekit.net/heg3tgx.css">

<!-- google font skal konverteres til woff2 -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Yaldevi:wght@200..700&display=swap" rel="stylesheet">

		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>AE</title>
	</head>
	<body>
		<header>
			<Header_card/>
		</header>
		<h1>Anna Elisabeth</h1>
		<p>Font test</p>
	</body>
</html>
