---
import "../style/style.css";
import Header_card from "../components/header_card.astro";
import Footer from "../components/footer.astro";
import Banner from "../components/banner.astro";
import Overskift from "../components/overskift.astro";
import ProductCard from "../components/productCard.astro";
import TilbageKnap from "../components/tilbage_knap.astro";
import Kurv from "../components/kurv.astro";

const data = await fetch(
  "https://dmmsxgbleguwsrjxcdfh.supabase.co/rest/v1/ae_blomster",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRtbXN4Z2JsZWd1d3NyanhjZGZoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTUzMjU0NjMsImV4cCI6MjAzMDkwMTQ2M30.EUV_DuoCBgYOjjmQ10T54Q80kiR6_fejdBF3RdWfbv8",
    },
  }
).then((response) => response.json());
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="stylesheet" href="https://use.typekit.net/heg3tgx.css" />
  <link rel="icon" href="svg/logo.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>Udvalg</title>
</head>
<main>
  <Banner />
  <a href="/#"><TilbageKnap /></a>

  <Overskift text="Udvalg" />

  <section class="udvalg_grid">
    {
      data.map((blomst) => {
        return <ProductCard data={blomst} />;
      })
    }
  </section>
</main>
<footer><Footer /></footer>

<style>
  .overskrift {
    display: flex;
    align-items: center;
    white-space: nowrap;
  }

  .overskrift h1 {
    font-size: 40px;
    margin: 40px;
  }

  .overskrift img {
    height: 24px;
    width: 100%;
    margin: 20px;
  }

  .udvalg_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5%;
    gap: 5%;
  }

  @media screen and (max-width: 900px) {
    .overskrift {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }

    .overskrift img {
      margin-top: 20px;
    }
  }
</style>
