:root {
  --sand: #fbf7eb;
  --green: #5B7A28;
  --pink: #d7709d;
  --brown: #342015;
  --white: #f1f1f3;
  --drak_green: #486d0f;
}

@font-face {
  font-family: "hwt-arabesque", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url();
}

@font-face {
  font-family: "yaldevi";
  src: url("../font/yaldevi.woff2");
}

body {
  background-color: var(--sand);
}

h1 {
  font-family: "hwt-arabesque";
  color: var(--brown);
  font-size: 150px;
}
h2 {
  font-family: "hwt-arabesque";
  color: var(--pink);
  font-size: xx-large;
  margin-left: 20px;
  white-space: nowrap;
}

h3 {
  font-family: "yaldevi", sans-serif;
  color: var(--brown);
  font-size: 50px;
  font-weight: 200;
}

p {
  font-family: "yaldevi", sans-serif;
  color: var(--brown);
}

.extra_t {
  font-family: "yaldevi", sans-serif;
  color: var(--green);

  .link {
    color: var(--pink);
  }
}

.e1{
  margin-left: 450px;
  text-align: center;
}

.e2{
  grid-column: 2/3;

}

.e3{
margin-left: 215px;

}

h4 {
  font-family: "yaldevi", sans-serif;
  color: var(--brown);
  font-size: 20px;
  font-weight: bold;
}

p {
  font-family: "yaldevi", sans-serif;
  color: var(--brown);
  max-width: 50ch;
}


.o1{
  margin-right: 150px;
}
text {
  max-width: 45ch;
}


@media screen and (min-width: 500px) {

  .e1{
      margin-left: 20px;
    }
    .e3{
      margin-left: 150px;
      
      }
    .o1{
      margin-right: 0px;
    }
}