:root {
    --sand: #FBF7EB;
    --green: #9BB17D;
    --pink: #D7709D;
    --brown: #342015;
    --white: #F1F1F3;
  }

  @font-face {
    font-family:"hwt-arabesque", sans-serif ;
    font-weight: 400;
  font-style: normal;
    src: url();
  }

body{
    background-color: var(--sand);
}

  h1{
    font-family: "hwt-arabesque";
    color: var(--brown);
    font-size: 150px;
  }
  h2{
    font-family: "hwt-arabesque";
    color: var(--pink);
    font-size: xx-large;
    margin-left: 20px;
  }

  h3{
    font-family: "Yaldevi", sans-serif;
    color: var(--brown);
    font-size: 50px;
    font-weight: 200;
  }

  h4{
    font-family: "Yaldevi", sans-serif;
    color: var(--brown);
    font-size: 20px;
    font-weight: bold;
  }

  p{
    font-family: "Yaldevi", sans-serif;
    color: var(--brown);
    max-width: 50ch;
  }

  .extra_t{
    font-family: "Yaldevi", sans-serif;
    color: var(--green);}



    text{
      max-width: 45ch;
    }
